@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header1-8 P {
  text-align: left;
  font-size: 25px;
}
#header1-8 H1 {
  text-align: left;
  font-size: 48px;
}
#header1-8 SPAN {
  font-size: 36px;
}
#header1-8 DIV {
  font-size: 36px;
}
#dropdown-menu-2btn-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6 .nav .link,
#dropdown-menu-2btn-6 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-6 .navbar,
#dropdown-menu-2btn-6 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6 .dropdown-menu a:hover,
#dropdown-menu-2btn-6 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-6 .navbar-toggler {
  color: #000000;
}
#contacts1-9 P {
  font-size: 14px;
  color: #000000;
}
#contacts1-9 STRONG {
  font-size: 16px;
}
#contacts1-9 B {
  font-size: 16px;
}
#contacts1-9 UL {
  color: #000000;
}

#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #000000;
}
#content5-m .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-m .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-m .mbr-article {
  color: #fff;
}
#msg-box1-q .mbr-header .mbr-header__text {
  color: #ffffff;
}
#msg-box1-q .mbr-article {
  color: #cccccc;
}
#contacts1-b P {
  font-size: 14px;
  color: #000000;
}
#contacts1-b STRONG {
  font-size: 16px;
}
#contacts1-b B {
  font-size: 16px;
}
#contacts1-b UL {
  color: #000000;
}

#slider-l H1 {
  text-align: left;
}
#slider-l P {
  text-align: left;
  font-size: 15px;
}
#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #000000;
}
#contacts1-d P {
  font-size: 14px;
  color: #000000;
}
#contacts1-d STRONG {
  font-size: 16px;
}
#contacts1-d B {
  font-size: 16px;
}
#contacts1-d UL {
  color: #000000;
}

#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #000000;
}
#contacts1-f P {
  font-size: 14px;
  color: #000000;
}
#contacts1-f STRONG {
  font-size: 16px;
}
#contacts1-f B {
  font-size: 16px;
}
#contacts1-f UL {
  color: #000000;
}

#content5-1u .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1u .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1u .mbr-article {
  color: #fff;
}
#dropdown-menu-2btn-13 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-13 .nav .link,
#dropdown-menu-2btn-13 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-13 .navbar,
#dropdown-menu-2btn-13 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-13 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-13 .dropdown-menu a:hover,
#dropdown-menu-2btn-13 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-13 .navbar-toggler {
  color: #000000;
}
#contacts1-14 P {
  font-size: 14px;
  color: #000000;
}
#contacts1-14 STRONG {
  font-size: 16px;
}
#contacts1-14 B {
  font-size: 16px;
}
#contacts1-14 UL {
  color: #000000;
}

#dropdown-menu-2btn-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-t .nav .link,
#dropdown-menu-2btn-t .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-t .navbar,
#dropdown-menu-2btn-t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-t .dropdown-menu a:hover,
#dropdown-menu-2btn-t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-t .navbar-toggler {
  color: #000000;
}
#contacts1-u P {
  font-size: 14px;
  color: #000000;
}
#contacts1-u STRONG {
  font-size: 16px;
}
#contacts1-u B {
  font-size: 16px;
}
#contacts1-u UL {
  color: #000000;
}

#dropdown-menu-2btn-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-v .nav .link,
#dropdown-menu-2btn-v .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-v .navbar,
#dropdown-menu-2btn-v .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-v .dropdown-menu a:hover,
#dropdown-menu-2btn-v .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-v .navbar-toggler {
  color: #000000;
}
#contacts1-w P {
  font-size: 14px;
  color: #000000;
}
#contacts1-w STRONG {
  font-size: 16px;
}
#contacts1-w B {
  font-size: 16px;
}
#contacts1-w UL {
  color: #000000;
}

#dropdown-menu-2btn-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-z .nav .link,
#dropdown-menu-2btn-z .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-z .navbar,
#dropdown-menu-2btn-z .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-z .dropdown-menu a:hover,
#dropdown-menu-2btn-z .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-z .navbar-toggler {
  color: #000000;
}
#contacts1-10 P {
  font-size: 14px;
  color: #000000;
}
#contacts1-10 STRONG {
  font-size: 16px;
}
#contacts1-10 B {
  font-size: 16px;
}
#contacts1-10 UL {
  color: #000000;
}

#dropdown-menu-2btn-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-x .nav .link,
#dropdown-menu-2btn-x .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-x .navbar,
#dropdown-menu-2btn-x .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-x .dropdown-menu a:hover,
#dropdown-menu-2btn-x .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-x .navbar-toggler {
  color: #000000;
}
#contacts1-y P {
  font-size: 14px;
  color: #000000;
}
#contacts1-y STRONG {
  font-size: 16px;
}
#contacts1-y B {
  font-size: 16px;
}
#contacts1-y UL {
  color: #000000;
}

#dropdown-menu-2btn-1l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1l .nav .link,
#dropdown-menu-2btn-1l .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1l .navbar,
#dropdown-menu-2btn-1l .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1l .dropdown-menu a:hover,
#dropdown-menu-2btn-1l .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1l .navbar-toggler {
  color: #000000;
}
#contacts1-1m P {
  font-size: 14px;
  color: #000000;
}
#contacts1-1m STRONG {
  font-size: 16px;
}
#contacts1-1m B {
  font-size: 16px;
}
#contacts1-1m UL {
  color: #000000;
}

#dropdown-menu-2btn-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-11 .nav .link,
#dropdown-menu-2btn-11 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-11 .navbar,
#dropdown-menu-2btn-11 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-11 .dropdown-menu a:hover,
#dropdown-menu-2btn-11 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-11 .navbar-toggler {
  color: #000000;
}
#contacts1-12 P {
  font-size: 14px;
  color: #000000;
}
#contacts1-12 STRONG {
  font-size: 16px;
}
#contacts1-12 B {
  font-size: 16px;
}
#contacts1-12 UL {
  color: #000000;
}
